.App {
    width: 800px;
    height: 80vh;
    background-image: url("../images/background.png");
    background-size: cover;
    border-radius: 10px;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    font-family: 'Karla', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action {
    width: 150px;
    height: 45px;
    background-color: #4d5b9e;
    color: white;
    border-radius: 15px;
    border: 0;
    font-family: 'Karla', sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
}

.question-container {
    width: 75%;
    min-height: 60px;
    padding: 20px 0;
    border-bottom: 1px solid #e2e4f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question {
    font-size: 1.2rem;
    color: #293264;
    font-weight: 700;
    margin: 0;
    line-height: 100%;
}

.answers {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.score {
    color: #293264;
    font-size: 1.1rem;
    margin: 0;
}